p {
	width: 30%;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-family: Raleway;
	font-weight: 800;
	font-size: 23px;
	margin-left: 1.55%;
	border-bottom: 2px solid #f1f1f1;
}


img {
	width: 30%;
	height: (60*30/100)px;
	float: left;
	margin: 1.55%;
	border: 1px solid black;
}